<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link href="/styles/style.css" rel="stylesheet" th:href="@{/styles/style.css}"/>
            <title th:text="${title}"></title>
        </head>
        <style>
            input {
                margin: 8px;
                padding: 6px;
            }

            input:focus {
                filter: drop-shadow(2px 2px 2px rgb(60, 60, 60));
                transition-duration: 0.3s;
            }

            #rating {

            }
        </style>
        <body style="text-align: center; margin: 0px; padding: 0px;">
        <div style="filter: drop-shadow(1px 1px 1px rgb(60,60,60));">
            <h2><span style="color: lightgreen;">lightrate</span> : the next level rating tool</h2>
            <hr>
        </div>
        <div id="rating" style="width: 600px; height: 400px; margin: auto; border: 1px solid lightgray; border-radius: 5px; margin-top: 60px; -webkit-box-shadow: 1px 0px 20px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 20px -5px rgba(0,0,0,0.75);
box-shadow: 1px 0px 20px -5px rgba(0,0,0,0.75);">
            <h1 th:text="${rating.getTitle().getContent()}"></h1>
            <div th:text="'created on ' + ${rating.getDateOfCreation().toLocalDate()}"></div>
            <hr>
            <h4 th:text="${rating.getDescription().getContent()}"></h4>
            <form action="#" method="post" th:action="'/' + ${rating.getRatingID().getId().toString()}">
                <img class="img1 star" onclick="rate(1)" src="styles/empty.jpg">
                <img class="img2 star" onclick="rate(2)" src="styles/empty.jpg">
                <img class="img3 star" onclick="rate(3)" src="styles/empty.jpg">
                <img class="img4 star" onclick="rate(4)" src="styles/empty.jpg">
                <img class="img5 star" onclick="rate(5)" src="styles/empty.jpg">
                <h4 style="color: #ee6f57">Click on one of the stars to leave your rating</h4>
                <h4 th:text="${rating.getCount()} + ' user(s) have rated.'"></h4>
            </form>
        </div>

        </body>
        <script th:inline="javascript">
            /*[+

            const stars = document.querySelectorAll(".star");
            let rating = [[${rating.getRatingAsInt()}]];
            const ratingId = [[${rating.getRatingID().getId().toString()}]];

            +]*/
        </script>
        <script>
            for (let i = 1; i <= rating; i++) {
                stars[i - 1].src = "styles/full.jpg";
            }

            function rate(value) {
                document.location.href = ratingId + "/rate/" + value;
            }
        </script>
        </html>
